<section class="social">
<h1>
  <a href="http://github.com/xuhdev" title="My GitHub Profile"><img src="{{ root_url }}/images/social-icons/github.png" alt="GitHub">GitHub</a>
</h1>
</section>

<section class="social">
<h1>
  <a href="http://twitter.com/xuhdev" title="Follow Me on Twitter"><img src="{{ root_url }}/images/social-icons/twitter.png" alt="Twitter">Twitter</a>
</h1>
</section>

<section class="social">
<h1>
  <a href="https://plus.google.com/101806876980287007548?rel=author"><img src="{{ root_url }}/images/social-icons/google_plus.png" alt="Google Plus">Google Plus</a>
</h1>
</section>

<section class="social">
<h1>
  <a href="mailto:hong@topbug.net" title="Email Me"><img src="{{ root_url }}/images/social-icons/email.png" alt="Email Me">Email Me</a>
</h1>
</section>
