<h2>Donate</h2>

<p>
I would appreciate it if you would like to support my projects and blog by donating via <a href="https://www.gittip.com/xuhdev/">GitTip</a> or via BitCoins:
</p>

<a class="coinbase-button" data-code="112e87a7b41c6fc00222a0fc62e56feb" data-button-style="donation_large" href="https://coinbase.com/checkouts/112e87a7b41c6fc00222a0fc62e56feb">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
