<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/archives">Archives</a></li>
  <li><a href="{{ root_url }}/open-source-projects/">Open Source Projects</a></li>
  <li><a href="{{ root_url }}/about">About</a></li>
</ul>
