{% unless page.no_header %}
  <header>
    {% include post/title.html %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
         &bull; <a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a>
      </p>
    {% endunless %}
  </header>
{% endunless %}
<div class="entry-content">{{ content }}</div>
{% if index %}
  <footer>
    {% if site.disqus.short_name and page.comments != false and post.comments != false and site.disqus.show_comment_count == true %}
    <p><a class="comments-link" href="{% if index %}{{ permalink }}{% endif %}#disqus_thread" data-disqus-identifier="{% if post.disqus_id %}{{ post.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">View comments &raquo;</a></p>

    {% endif %}
    {% if excerpted != 'false' %}
    <p><a rel="full-article" href="{{ permalink }}">{{ site.excerpt_link }}</a></p>
    {% endif %}
  </footer>
{% endif %}
