{% if site.use_comments %}
<section>
  <h1>Comments</h1>
  {% include custom/comments.html %}
  {% if site.disqus.short_name %}
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  {% endif %}
  {% include custom/after_comments.html %}
</section>
{% endif %}
